<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feedback Form</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    
  </style>
</head>
<app-navbar></app-navbar>
<body>
  <div class="container">
    <h2>Feedback Form</h2>
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
 
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" formControlName="email" required>
      <div *ngIf="isFieldInvalid('email') && isFieldTouched('email')" class="text-danger">
        Please enter a valid email address.
      </div>
    </div>
 
    <div class="form-group">
      <label for="rating">Rating</label>
      <select id="rating" formControlName="rating" class="form-control">
        <option value="" disabled>Select a rating</option>
        <option value="5">5 - Excellent</option>
        <option value="4">4 - Very Good</option>
        <option value="3">3 - Good</option>
        <option value="2">2 - Fair</option>
        <option value="1">1 - Poor</option>
      </select>
      <div *ngIf="feedbackForm.get('rating')?.hasError('required')" class="text-danger">
        Rating is required.
      </div>
    </div>
 
    <div class="form-group">
      <label for="comments">Comments</label>
      <textarea id="comments" formControlName="comments" class="form-control"></textarea>
      <div *ngIf="feedbackForm.get('comments')?.hasError('required')" class="text-danger">
        Comments are required.
      </div>
    </div>
 
    <button type="submit" class="btn btn-primary" style="margin-left: 40%;">Submit Feedback</button>
  </form>
  </div>
</body>
</html>