.container {
    margin-top: 50px;
  }

  body {
    background-image: url('../../assets/images/homebg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
  }

  .container {
    padding: 40px;
    border: 3px solid #007bff;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(39, 39, 39, 0.218);
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    margin-top: 100px;
  }

   h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-container .form-group .input{
    margin-bottom: 20px;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .label{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
label{
color: white;
}
  .form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
  }