<!DOCTYPE html>
<html lang="en">
<head>
  <title>loginpage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
      <form (ngSubmit)="registerUser()" #registrationForm="ngForm">
        <h2 class="mb-6">User Registration</h2>
        <!-- Username -->
        <div class="mb-3">
          <label for="username" class="form-label"></label>
          <input type="text" placeholder="Username"   class="form-control" id="username" name="username" [(ngModel)]="userobj.username" required>
          
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label"></label>
          <input type="email" placeholder="Email"  class="form-control" id="email" name="email" [(ngModel)]="userobj.email" required email>
          <div *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)"
          class="text-danger">
          Enter a valid email address.
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label"></label>
          <input type="password"  placeholder="Password"  class="form-control" id="password" name="password" [(ngModel)]="userobj.password" required>
          
        </div>

        <!-- Confirm Password -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"></label>
          <input type="password"  placeholder="Confirm Password"  class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="userobj.confirmPassword" required>
          <div *ngIf="userobj.password !== userobj.confirmPassword && registrationForm.controls['confirmPassword'].dirty" class="text-danger">
            Passwords do not match.
          </div>
        </div>

        <!-- Gender -->
        <div class="mb-3" id="gender">
          <label for="gender" class="form-label">Who are you</label><br>
          <select class="form-select"  id="gender" name="gender" [(ngModel)]="userobj.gender" required>
            <option value="" disabled></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>

        <button  type="submit" [disabled]="registrationForm.invalid" (click)="onSignUp()">Register</button>
      </form>
    </div>
  </body>



